.page-login {
  width: 100vw;
  height: 100vh;
}
.page-login .container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  padding: 0 2rem;
}
.page-login .container .wave {
  position: fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.page-login .container .wave .bg {
  position: absolute;
  top: -50%;
  left: 0;
  width: 60%;
  height: 100%;
  border-radius: 50%;
}
.page-login .container .wave .prospect {
  width: 30%;
  height: 100%;
}
.page-login .container .wave .prospect-bg {
  position: absolute;
  bottom: -50%;
  left: 4%;
  width: 50%;
  height: 100%;
  border-radius: 50%;
  z-index: 0;
}
.page-login .container .img {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 500px;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .page-login .container .wave,
  .page-login .container .img {
    display: none !important;
  }
}
.page-login .container .application {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  font-size: 20px;
}
.page-login .container .application .item {
  margin-left: 20px;
}
.page-login .container .login-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page-login .container .login-box .login-form {
  width: 360px;
}
.page-login .container .login-box .login-form .avatar {
  width: 350px;
  height: 80px;
}
.page-login .container .login-box .login-form h2 {
  margin: 15px 0;
  color: #999;
  font: 700 200% Consolas, Monaco, monospace;
}
.page-login .container .login-box .login-form .input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}
.page-login .container .login-box .login-form .input-group:nth-child(1) {
  margin-bottom: 4px;
}
.page-login .container .login-box .login-form .input-group:before,
.page-login .container .login-box .login-form .input-group:after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #c5d3f7;
  transition: 0.5s;
}
.page-login .container .login-box .login-form .input-group:after {
  right: 50%;
}
.page-login .container .login-box .login-form .input-group:before {
  left: 50%;
}
.page-login .container .login-box .login-form .icon {
  color: #d9d9d9;
  font-size: 22px !important;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-login .container .login-box .login-form .input-group > div {
  position: relative;
  height: 45px;
  flex: 1;
}
.page-login .container .login-box .login-form .input-group > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #d9d9d9;
  font-size: 16px;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}
.page-login .container .login-box .login-form .input-group.focus div h5 {
  top: -5px;
  font-size: 14px;
}
.page-login .container .login-box .login-form .input-group.focus:after,
.page-login .container .login-box .login-form .input-group.focus:before {
  width: 50%;
}
.page-login .container .login-box .login-form .input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-family: Roboto, sans-serif;
}
.page-login .container .login-box .login-form a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #999;
  font-size: 0.9rem;
  transition: 0.3s;
}
.page-login .container .login-box .login-form .btn {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin: 1rem 0;
  font-size: 1.2rem;
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  background-size: 200%;
  transition: 0.5s;
}
.page-login .container .login-box .login-form .btn:hover {
  background-position: right;
}
